{% extends 'math_chart/base.html' %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Регистрация</h1>
</div>
{% endblock page_header %}

{% block content %}

<form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    <p>{{ form|crispy }}</p>
    <button class="btn btn-outline-danger" name='submit class btn btn-primary btn-block'>Регистрация</button>
    <input type="hidden" name="next" value="{% url 'math_chart:home' %}">
</form>

{% endblock content %}