{% extends 'math_chart/base.html' %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Добро пожаловать на Math_Carts</h1>
    <p class="lead">
        На нашем сайте вы можете построить различные графики онлайн. А также написать стаью на интересующую вас тему!
        Для этого необходимо зарегестрироваться.
    </p>
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Регистрация</a>
</div>
{% endblock page_header %}

{% block content %}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-8">
                <p align="justify"  class="fs-6">Матема́тика (др.-греч. μᾰθημᾰτικά < μάθημα «изучение; наука») — точная (формальная) наука, первоначально исследовавшая количественные отношения и пространственные формы. В более современном понимании, это наука об отношениях между объектами, о которых ничего не известно, кроме описывающих их некоторых свойств, — именно тех, которые в качестве аксиом положены в основание той или иной математической теории.
                Математика исторически сложилась на основе операций подсчёта, измерения и описания формы объектов. Математические объекты создаются путём идеализации свойств реальных или других математических объектов и записи этих свойств на формальном языке.
                Математика не относится к естественным наукам, но широко используется в них как для точной формулировки их содержания, так и для получения новых результатов. Она является фундаментальной наукой, предоставляющей (общие) языковые средства другим наукам; тем самым она выявляет их структурную взаимосвязь и способствует нахождению самых общих законов природы.
                </p>
            </div>
            <div class="col-sm-4">
                <img class="w-100" src="https://i.pinimg.com/originals/af/7c/71/af7c71f6b82a85b5f207881cd9124acd.jpg" alt="Математика">
            </div>
        </div>
</section>
{% endblock content %}


